services:
  otterscale:
    image: ghcr.io/otterscale/otterscale/service:${APP_VERSION}
    ports:
      - "${SERVICE_PORT}:8299"
    command: bootstrap
    restart: unless-stopped

  otterscale-web:
    image: ghcr.io/otterscale/otterscale/web:${APP_VERSION}
    depends_on:
      - otterscale
    environment:
      PUBLIC_API_URL: ${PUBLIC_API_URL}
      BOOTSTRAP_MODE: true
    ports:
      - "${WEB_PORT}:3000"
    restart: unless-stopped
