## The network ip already exist on host
#MAAS_CIDR="172.20.10.8/28"

## Type the ip range for network pxe boot used
#MAAS_NETWORK_SUBNET="172.20.10.8/28"
MAAS_DHCP_START_IP="172.20.10.9"
MAAS_DHCP_END_IP="172.20.10.12"
