{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2,
				"useTabs": false,
				"printWidth": 79
			}
		},
		{
			"files": ".github/**/*",
			"options": {
				"tabWidth": 2,
				"useTabs": false,
				"parser": "yaml"
			}
		}
	],
	"tailwindFunctions": ["clsx", "cn", "tv", "cva"]
}
