# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# API
/src/lib/api/
/packages/types/src/lib/api

# Generated Types
/packages/types/src/lib/types